def home(request):
    products = None
    totalitem = 0
    data = {}

    if request.session.has_key('phone'):
        # If the session contains 'phone', proceed with the logic
        phone = request.session['phone']
        totalitem = len(cart.objects.filter(phone=phone))
        category = category.get_all_categories()
        customer = customer.objects.filter(phone=phone)

        # Assuming you only want the first customer name, if there are multiple customers
        name = customer[0].c.name if customer else None

        categoryID = request.GET.get('category')
        if categoryID:
            products = Product.get_all_products_by_category_id(categoryID)
        else:
            products = Product.get_all_products()

        # Prepare data to pass to the template
        data = {
            'name': name,
            'product': products,
            'category': category,
            'totalitem': totalitem,
            'phone': phone  # To check if it prints phone in session
        }

        return render(request, 'home.html', data)
    else:
        # Redirect to login if 'phone' is not in session
        return redirect('login')
